<div class="aboutMe" id="aboutMe">

  <div class="introduction"> 
    <div class="right">
      <h2>About me.</h2>
      <span>"I'm a frontend developer, who codes with precision and passion"</span>
    </div>
  </div>
  <div class="journeys">
    <div *ngFor="let paragraph of headings; let i = index" class="journey" data-aos="fade-right">
      <div class="circle-img">
        <img src="assets/img/circle{{i}}.png">
      </div>
      <h3>{{headings[i]}}</h3>
      <span>{{text[i]}}</span>
    </div>
  </div>

</div>
