<div class="aboveTheFold">
  
    <div class="introduction" data-aos="zoom-in" data-aos-delay="100" data-aos-duration="700">
  
      <div class="introductionLeft">
        <span class="introductionLeftText">Hi,<br> I'm <span class="orange">Beatrice</span> Ambos <br> Frontend developer</span>
        <a href="#contactMe"><button>Contact me</button></a>
      </div>
  
      <img src="assets/img/portrait.png" class="imagePortrait">
      
    </div>
  
    <a href="#mySkills"><img src="assets/img/bee.png" class="arrow"></a>
  
  </div>

